body {
  background-color: grey;
}
    
#wrapper {
    min-height: calc(100vh - 5em - 6px);
}

div.topnav {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}

div.topnav-right {
  float: right;
}

div.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #555;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
